* {
  font-family: Arial, Helvetica, sans-serif;
}
h1.title {
  text-align: center;
  margin: 35px;
}
.speaker {
  height: 50px;
  width: 50px;
  cursor: pointer;
}
.word-margin {
  margin-top: 10px;
}
.fa-disabled {
  opacity: 0.6;
  cursor: not-allowed;
}
